/* HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT */
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/
/*HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT HALT*/

* {
    overflow: hidden;
    font-family:'Courier New', 'Courier Prime', Courier, monospace;
}

body {
    background-color: #000000;
}

/* #banner {
    text-align: center;
    padding: auto;
    margin:auto
} */

/*top heading start*/

header {
    width: 600px;
    height: auto;
    background-color: #ffffff;
/*     border-radius: 10px; */
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
/*     padding-left: 15px; */
    text-align: center;
}

nav {
    display: inline-flex;
    flex-direction: row;
}

.columns {
    width: 50%;
    height: auto;
}

.aaa {
    font-style: italic;
}

a {
    margin: auto;
    margin-left: 12px;
    text-decoration: none;
    color:#000000;
}

.c:hover{
    color: cyan;
    font-weight: bolder;
}

.c:hover::before{
    content: ">>> ";
    color: cyan;
}

.y:hover{
    color: yellow;
    font-weight: bolder;
}

.y:hover::before{
    content: ">>> ";
    color: yellow;
}

.m:hover{
    color: magenta;
    font-weight: bolder;
}

.m:hover::before{
    content: ">>> ";
    color: magenta;
}

/*top heading end*/

#small {
    position: relative;
    max-width: auto;
    height: 100px;
    margin: auto;
    transform: translate(250px, 200px)
}

/*container  */

.things {
    width: 600px;
    height: 600px;
    background-color: #ffffff;
/*     border-radius: 10px; */
    margin: auto;
    margin-top: 10px;
/*     padding-left: 15px; */
}

.typetype {
    position: relative;
    text-align: center;
    white-space: nowrap; 
    margin: 0 auto; 
    overflow: hidden;
    transform: translateY(210px);
    animation: typing 3.5s steps(30, end);
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.placeholdertext {
    text-align: center;
    transform: translateY(210px);
}
